body{
    background-color: rgb(249, 249, 245);
}
.nav{
    display: flex;
}
.logo{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
}
.hero{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-left: 2.5rem;
    display: flex;
}
.beauty, .const{
    width: 19rem;
    object-fit: cover;
}
.betext, .ctext{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.ad{
    display: flex;
    gap: 3rem;
    margin: 3rem;
}
.beautiful, .construction{
    display: flex;
}
.btext, .constext {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    display: flex;
    float: right; 
}
@media(max-width: 1105px){
    .ad{
        flex-wrap: wrap;
    }
}
@media(max-width: 645px){
    .beautiful, .construction{
        flex-wrap: wrap;
    }
    .betext, .ctext{
        margin: 0;
    }
}
