body{
    font-family: 'Sono', sans-serif;
    padding: 1.5rem;
}
.card{
    background-color: #e6e8ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    height: 20rem;
    border-radius: 2%;
    justify-content: center;
    flex-grow: 1;
}
.card > *{
    margin: 6px;
}
.container{
    height: 100vh;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #FF5B22;
    width: 17%;
    height: 2rem;
    border: none;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color:white;
}
h2{
    font-weight: 1000;
}
h1{
    font-weight: 1000;
    font-size: 40px;
}

@media(max-width: 1170px){
    .container{
        flex-wrap: wrap;
    }
    .card{
        flex-grow: 0;
    }
}