.logo{
    height: 15%;
    width: 15%;
    margin-top: 2%;
    margin-left: 1.5%;
}
.hero{
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-left: 1.5%;
    margin-bottom: 3%;
    font-size: 25px;
}
.blue{
    color: rgba(3, 3, 96, 0.872)
}
.beauty, .const{
    height: 20%;
    width: 250px;
    float: left;
    margin-right: 30px;
}

.beautiful{
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 5%;
    width: 650px;
}
.construction{
    display: inline-block;
    width: 650px;
    margin-left: 1.5%;
}
.btext, .constext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
}
a{
    text-decoration: none;
    position: fixed; /* Fixed positioning relative to the viewport */
    bottom: 0;      /* Align bottom edge to the bottom of the viewport */
    right: 0;  
}
@media(max-width: 320px){
    .logo{
        height: 35%;
        width: 60%;
        margin-top: 4%;
        margin-left: 3%;
    }
    .hero{
        text-align: center;
        width: 400px;
        margin-left: 160px;
    }
    .beauty, .const{
        height: 20%;
        width: 90%;
        margin-left: 20px;
        margin: auto;
    }
    .beautiful, .construction{
        padding-left: 60px;
        padding: auto;
    }
    .btext, .constext, .construct, .bea{
        font-size: 35px;
    }
    .construct, .bea{
        font-size: 40px;
        position: relative;
        top: 15px;
    }
    a{
        font-size: 35px;
        margin-top: 10px;
        bottom: -10px;
    }
}
@media(max-width: 425px){
    .logo{
        height: 35%;
        width: 60%;
        margin-top: 4%;
        margin-left: 3%;
    }
    .hero{
        text-align: center;
        width: 400px;
        margin-left: 140px;
    }
    .beauty, .const{
        height: 20%;
        width: 85%;
    }
    .beautiful, .construction{
        padding-left: 40px;
        padding: auto;
    }
    .btext, .constext, .construct, .bea{
        clear: both;
        font-size: 30px;
    }
    .construct, .bea{
        font-size: 40px;
        position: relative;
        top: 15px;
    }
    a{
        font-size: 35px;
        margin-top: 10px;
        bottom: -10px;
    }
}
@media(max-width: 768px){
    .logo{
        height: 35%;
        width: 20%;
        margin-top: 4%;
        margin-left: 3%;
    }
    .hero{
        text-align: center;
        width: 400px;
        margin-left: 150px;
    }
    .beauty, .const{
        height: 20%;
        width: 95%;
    }
    .beautiful, .construction{
        padding-left: 50px;
        padding: auto;
    }
    .btext, .constext, .construct, .bea{
        clear: both;
        font-size: 25px;
    }
    .construct, .bea{
        font-size: 40px;
        position: relative;
        top: 15px;
    }
    a{
        font-size: 25px;
        margin-top: 10px;
        bottom: -10px;
    }
}

.first, .second, .third{
    background-color: aqua;
    width: 100px;
    height: 100px;
}
body{
    display: flex;
    gap: 1rem;
}